.header {
    background-color: var(--navy-200);
    overflow: hidden;
}

.header__list {
    list-style: none;
    padding: 0;

    display: flex;
    align-items: center;
}

.header__list .header__list-item form {
    display: flex;
}

.header__list .header__list-item:first-child {
    margin-inline-end: auto;
}

.header__list .header__list-item:not(:first-child) {
    padding-inline: 1.5rem;
}

.header__list .header__list-item:last-child {
    position: relative;
}

.header__list .header__list-item:last-child:before {
    content: '';
    border-inline-start: 1px solid var(--grey-200);
    position: absolute;
    top: -2rem;
    bottom: -2rem;
    left: 0;
}

@media (min-width: 1024px) {
    .header {
        --header-width: 72px;
        grid-column: 1 / 2;
        height: 100%;
        width: var(--header-width);
        border-top-right-radius: 20px;
    }

    .header__list {
        flex-direction: column;
        height: 100%;
        position: fixed;

    }

    .header__list .header__list-item:last-child {
        align-self: flex-end;
    }

    .header__list .header__list-item:last-child:before {
        content: '';
        border-top: 1px solid var(--grey-200);
        border-inline-start: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .header__list .header__list-item:first-child {
        margin-block-end: auto;
    }

    .header__list .header__list-item:not(:first-child) {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        width: 100%;
    }
}