.invoice-item {
    background-color: var(--navy-200);
    color: var(--white);
    width: 100%;
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
}

[data-theme='light'] .invoice-item {
    background-color: var(--white);
    color: var(--black);
}

.invoice-item__id {
    font-weight: 700;
    font-size: var(--12px);
    letter-spacing: -0.25px;
}

.invoice-item__id span {
    color: var(--slate-300);
}

.invoice-item__name,
.invoice-item__status {
    place-self: end;
}

[data-theme='light'] .invoice-item__name,
[data-theme='light'] .invoice-item__date {
    color: var(--slate-200);
}

.invoice-item__date {
    color: var(--slate-100);
    font-weight: 500;
    font-size: var(--12px);
    letter-spacing: -0.25px;
}

.invoice-item__total {
    font-weight: 700;
    font-size: var(--16px);
    letter-spacing: -0.8px;
}